body
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
    
}
header
{
    display: flex;
    flex-wrap: wrap;

    border: solid black;
    height: 20vh;
    width: 100%;
    margin-bottom: 10px;
}
header img
{
    display: flex;
    flex-wrap: wrap;

    border-left: solid black;
    border-right: solid black;
    height: 20vh;
    margin-left: 270px;
}
td img
{
    display: flex;
    flex-wrap: wrap;

    height: 20vh;

    background-color:rgb(153, 151, 151);
    padding:10px 10px 50px 10px;
    border:1px solid #BFBFBF;
    box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);

}
footer
{
    display: flex;
    flex-wrap: wrap;

    align-items: flex-end;
    justify-content: flex-end;
    border: solid black;
    height: 20vh;
    width: 100%;
    margin-top: 10px;
}